body {
  background: black;
  color: white;
  font-family: Arial;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form-box {
  background: #222;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: green;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin: 0 0 10px 0;
  font-size: 14px;
}
